.wechatface { width: 20px; height: 20px; display: -moz-inline-stack; display: inline-block; vertical-align: top; zoom: 1; *display: inline; background-size: 20px 20px; }
.wechatface_1 {background-image: url("face/1.png");}
.wechatface_2 {background-image: url("face/2.png");}
.wechatface_3 {background-image: url("face/3.png");}
.wechatface_4 {background-image: url("face/4.png");}
.wechatface_5 {background-image: url("face/5.png");}
.wechatface_6 {background-image: url("face/6.png");}
.wechatface_7 {background-image: url("face/7.png");}
.wechatface_8 {background-image: url("face/8.png");}
.wechatface_9 {background-image: url("face/9.png");}
.wechatface_10 {background-image: url("face/10.png");}
.wechatface_11 {background-image: url("face/11.png");}
.wechatface_12 {background-image: url("face/12.png");}
.wechatface_13 {background-image: url("face/13.png");}
.wechatface_14 {background-image: url("face/14.png");}
.wechatface_15 {background-image: url("face/15.png");}
.wechatface_16 {background-image: url("face/16.png");}
.wechatface_17 {background-image: url("face/17.png");}
.wechatface_18 {background-image: url("face/18.png");}
.wechatface_19 {background-image: url("face/19.png");}
.wechatface_20 {background-image: url("face/20.png");}
.wechatface_21 {background-image: url("face/21.png");}
.wechatface_22 {background-image: url("face/22.png");}
.wechatface_23 {background-image: url("face/23.png");}
.wechatface_24 {background-image: url("face/24.png");}
.wechatface_25 {background-image: url("face/25.png");}
.wechatface_26 {background-image: url("face/26.png");}
.wechatface_27 {background-image: url("face/27.png");}
.wechatface_28 {background-image: url("face/28.png");}
.wechatface_29 {background-image: url("face/29.png");}
.wechatface_30 {background-image: url("face/30.png");}
.wechatface_31 {background-image: url("face/31.png");}
.wechatface_32 {background-image: url("face/32.png");}
.wechatface_33 {background-image: url("face/33.png");}
.wechatface_34 {background-image: url("face/34.png");}
.wechatface_35 {background-image: url("face/35.png");}
.wechatface_36 {background-image: url("face/36.png");}
.wechatface_37 {background-image: url("face/37.png");}
.wechatface_38 {background-image: url("face/38.png");}
.wechatface_39 {background-image: url("face/39.png");}
.wechatface_40 {background-image: url("face/40.png");}
.wechatface_41 {background-image: url("face/41.png");}
.wechatface_42 {background-image: url("face/42.png");}
.wechatface_43 {background-image: url("face/43.png");}
.wechatface_44 {background-image: url("face/44.png");}
.wechatface_45 {background-image: url("face/45.png");}
.wechatface_46 {background-image: url("face/46.png");}
.wechatface_47 {background-image: url("face/47.png");}
.wechatface_48 {background-image: url("face/48.png");}
.wechatface_49 {background-image: url("face/49.png");}
.wechatface_50 {background-image: url("face/50.png");}
.wechatface_51 {background-image: url("face/51.png");}
.wechatface_52 {background-image: url("face/52.png");}
.wechatface_53 {background-image: url("face/53.png");}
.wechatface_54 {background-image: url("face/54.png");}
.wechatface_55 {background-image: url("face/55.png");}
.wechatface_56 {background-image: url("face/56.png");}
.wechatface_57 {background-image: url("face/57.png");}
.wechatface_58 {background-image: url("face/58.png");}
.wechatface_59 {background-image: url("face/59.png");}
.wechatface_60 {background-image: url("face/60.png");}
.wechatface_61 {background-image: url("face/61.png");}
.wechatface_62 {background-image: url("face/62.png");}
.wechatface_63 {background-image: url("face/63.png");}
.wechatface_64 {background-image: url("face/64.png");}
.wechatface_65 {background-image: url("face/65.png");}
.wechatface_66 {background-image: url("face/66.png");}
.wechatface_67 {background-image: url("face/67.png");}
.wechatface_68 {background-image: url("face/68.png");}
.wechatface_69 {background-image: url("face/69.png");}
.wechatface_70 {background-image: url("face/70.png");}
.wechatface_71 {background-image: url("face/71.png");}
.wechatface_72 {background-image: url("face/72.png");}
.wechatface_73 {background-image: url("face/73.png");}
.wechatface_74 {background-image: url("face/74.png");}
.wechatface_75 {background-image: url("face/75.png");}
.wechatface_76 {background-image: url("face/76.png");}
.wechatface_77 {background-image: url("face/77.png");}
.wechatface_78 {background-image: url("face/78.png");}
.wechatface_79 {background-image: url("face/79.png");}
.wechatface_80 {background-image: url("face/80.png");}
.wechatface_81 {background-image: url("face/81.png");}
.wechatface_82 {background-image: url("face/82.png");}
.wechatface_83 {background-image: url("face/83.png");}
.wechatface_84 {background-image: url("face/84.png");}
.wechatface_85 {background-image: url("face/85.png");}
.wechatface_86 {background-image: url("face/86.png");}
.wechatface_87 {background-image: url("face/87.png");}
.wechatface_88 {background-image: url("face/88.png");}
.wechatface_89 {background-image: url("face/89.png");}
.wechatface_90 {background-image: url("face/90.png");}
.wechatface_91 {background-image: url("face/91.png");}
.wechatface_92 {background-image: url("face/92.png");}
.wechatface_93 {background-image: url("face/93.png");}
.wechatface_94 {background-image: url("face/94.png");}
.wechatface_95 {background-image: url("face/95.png");}
.wechatface_96 {background-image: url("face/96.png");}
.wechatface_97 {background-image: url("face/97.png");}
.wechatface_98 {background-image: url("face/98.png");}
.wechatface_99 {background-image: url("face/99.png");}
.wechatface_100 {background-image: url("face/100.png");}
.wechatface_101 {background-image: url("face/101.png");}
.wechatface_102 {background-image: url("face/102.png");}
.wechatface_103 {background-image: url("face/103.png");}
.wechatface_104 {background-image: url("face/104.png");}
.wechatface_105 {background-image: url("face/105.png");}
